
@{
    ViewBag.Title = "SignIn";
}

<h2>SignIn</h2>

<div class="container">
    
    <div class="col-md-12">
        @using (Html.BeginForm("SignIn", "User", FormMethod.Post))
        {
            <table class="table table-responsive">
                <tr>
                    <td>Email</td>
                    <td>
                        <input class="form-control" type="email" name="email" required="required" />
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input class="form-control" type="password" name="password" required="required" />
                    </td>
                </tr>
            </table>
            <button class="btn btn-danger" type="submit">Submit</button>
        }

    </div>
</div>